.container {
    width: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.media-container {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-evenly;
}

.item {
    width: 60px;
    height: 60px;
    border: 4px solid blue;
    background: lightblue;
}