.container {
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.flex-reverse {
    flex-direction: column;
}

.media-container {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-evenly;
    /*The bottom is copied code to try and make fading animation occur*/
    animation: fadeInAnimation ease-in 5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
}

.item {
    width: 60px;
    height: 60px;
    border: 4px solid blue;
    background: lightblue;
}